<!DOCTYPE html>

<head>

	<link rel="stylesheet" type="text/css" href="css/system-style.css" />
	<link rel="stylesheet" type="text/css" href="css/bars.css" />
	<link rel="stylesheet" type="text/css" href="css/components.css" />
	<link rel="stylesheet" type="text/css" href="css/general-style.css" />
	<link rel="stylesheet" type="text/css" href="css/misc.css" />
	<link rel="stylesheet" type="text/css" href="css/other-tabs.css" />
	<link rel="stylesheet" type="text/css" href="css/popup.css" />
	<link rel="stylesheet" type="text/css" href="css/tree-node.css" />

	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script src="js/technical/break_eternity.js"></script>
	<script src="js/technical/layerSupport.js"></script>

	<script src="js/mod.js"></script>
	<script src="js/technical/loader.js"></script>

	<script src="js/technical/temp.js"></script>
	<script src="js/technical/displays.js"></script>
	
	<script src="js/game.js"></script>
	<script src="js/utils.js"></script>
	<script src="js/utils/easyAccess.js"></script>
	<script src="js/technical/systemComponents.js"></script>
	<script src="js/components.js"></script>
	<script src="js/technical/canvas.js"></script>
	<script src="js/technical/particleSystem.js"></script>
	<script src="js/utils/NumberFormating.js"></script>
	<script src="js/utils/options.js"></script>
	<script src="js/utils/save.js"></script>
	<script src="js/utils/themes.js"></script>

</head>


<body onload="load()" onmousemove="updateMouse(event)">
	<div id="app">
		<div class="menu" v-if="options.forceOneTab==true">
			<hr>
			[ Misc ]
			<button class="menuButton" style="margin-top:4px"onclick="showTab('info-tab')"><span class="buttonText">Information</span></button>
			<button class="menuButton" onclick="showTab('options-tab')"><span class="buttonText">Options</span></button>
<button onclick="showTab('changelog-tab')" class="menuButton">Changelog</button>	<br>
			<hr>
			
			<span v-if="layerShown('m')==true">[ Milestones (Normal Universe) ]</span>
				<button class="menuButton" v-if="layerShown('m')==true" style="margin-top:4px" v-bind:style="constructMenuButtonStyle('m') " onclick="showTab('m')"><span class="buttonText">[{{format(player.m.points,0)}}] Milestone (+{{player.points.gte(tmp.m.nextAtDisp)?1:0}})</span></button>
				<button class="menuButton" v-if="layerShown('mm')==true" v-bind:style="constructMenuButtonStyle('mm') " onclick="showTab('mm')"><span class="buttonText">[{{format(player.mm.points,0)}}] Meta Milestone (+{{player.m.points.gte(tmp.mm.nextAtDisp)?1:0}})</span></button>
				<button class="menuButton" v-if="layerShown('em')==true" v-bind:style="constructMenuButtonStyle('em') " onclick="showTab('em')"><span class="buttonText">[{{format(player.em.points,0)}}] Extra Milestone (+{{player.em.points.gte(tmp.em.nextAtDisp)?1:0}})</span></button>
				<br v-if="layerShown('m')==true"><hr v-if="layerShown('m')==true">
			
			<span v-if="layerShown('p')==true">[ Row ./asd ]</span>
				<button class="menuButton" v-if="layerShown('p')==true" style="margin-top:4px" v-bind:style="constructMenuButtonStyle('p') " onclick="showTab('p')"><span class="buttonText">[{{format(player.p.points,2)}}] Prestige (+{{format(tmp.p.resetGain.mul(player.m.best.gte(135)?1e10:player.m.best.gte(25)?100:1))}}{{player.m.best.gte(25)||player.pm.activeChallenge==12?'/s':''}})</span></button>
					<br v-if="layerShown('p')==true"><hr v-if="layerShown('p')==true">
			
			<span v-if="layerShown('sp')==true">[ Row ./asddsf]</span>
				<button class="menuButton" v-if="layerShown('pe')==true" style="margin-top:4px" v-bind:style="constructMenuButtonStyle('pe') " onclick="showTab('pe')"><span class="buttonText">[{{format(player.pe.points,0)}}] Prestige Energy (+{{format(tmp.pe.resetGain)}})</span></button>
				<button class="menuButton" v-if="layerShown('hp')==true" v-bind:style="constructMenuButtonStyle('hp') " onclick="showTab('hp')"><span class="buttonText">[{{format(player.hp.points,2)}}]  Hyper Prestige (+{{format(tmp.hp.resetGain)}})</span></button>
				<button class="menuButton" v-if="layerShown('ap')==true" v-bind:style="constructMenuButtonStyle('ap') " onclick="showTab('ap')"><span class="buttonText">[{{format(player.ap.points,2)}}]  Atomic Prestige (+{{format(tmp.ap.resetGain)}})</span></button				<br v-if="layerShown('sp')==true"><hr v-if="layerShown('sp')==true">
			<span v-if="layerShown('hp')==true">[ Row ./asddsadf ]</span>
				<button class="menuButton" v-if="layerShown('se')==true" style="margin-top:4px" v-bind:style="constructMenuButtonStyle('se') " onclick="showTab('se')"><span class="buttonText">[{{format(player.se.points,2)}}]  Super Energy (+{{format(tmp.se.resetGain)}})</span></button>
				<button class="menuButton" v-if="layerShown('ep')==true" v-bind:style="constructMenuButtonStyle('ep') " onclick="showTab('ep')"><span class="buttonText">[{{format(player.ep.points,2)}}]  Exotic Prestige (+{{format(tmp.ep.resetGain)}}) </span></button>
				<button class="menuButton" v-if="layerShown('sp')==true" v-bind:style="constructMenuButtonStyle('sp') " onclick="showTab('sp')"><span class="buttonText">[{{format(player.sp.points,2)}}] Super Prestige (+{{format(tmp.sp.resetGain)}})</span></button>
				<br v-if="layerShown('hp')==true"><hr v-if="layerShown('hp')==true">
			<span v-if="layerShown('ap')==true">[ Row ./asdsadkjdsa ]</span>
				<button class="menuButton" v-if="layerShown('hb')==true" style="margin-top:4px" v-bind:style="constructMenuButtonStyle('hb') " onclick="showTab('hb')"><span class="buttonText">[{{format(player.hb.points,0)}}]  Hyper Boosts (+{{player.hp.points.gte(tmp.hb.nextAtDisp)?1:0}})</span></button>
				
				<button class="menuButton" v-if="layerShown('pb')==true" v-bind:style="constructMenuButtonStyle('pb') " onclick="showTab('pb')"><span class="buttonText">[{{format(player.pb.points,0)}}] Prestige Boosts (+{{player.p.points.gte(tmp.pb.nextAtDisp)?1:0}})</span></button>
				<button class="menuButton" v-if="layerShown('pp')==true" v-bind:style="constructMenuButtonStyle('pp') " onclick="showTab('pp')"><span class="buttonText">[{{format(player.pp.points,2)}}] Prestige Power (+{{format(tmp.pp.resetGain)}}) </span></button>

				<br v-if="layerShown('ap')==true"><hr v-if="layerShown('ap')==true">			
			<span v-if="layerShown('t')==true">[ Row ./asdlkasdjfnknfds ]</span>
				<button class="menuButton" v-if="layerShown('t')==true" v-bind:style="constructMenuButtonStyle('t') " style="color:black;margin-top: 4px;" onclick="showTab('t')"><span class="buttonText">[{{format(player.t.points,2)}}]  Transcend (+{{format(tmp.t.resetGain)}})</span></button>
				<button class="menuButton" v-if="layerShown('mp')==true && player.mp.activeChallenge!=21" v-bind:style="constructMenuButtonStyle('mp') " onclick="showTab('mp')"><span class="buttonText">[{{format(player.mp.points,0)}}]  Multiverse Prestige (+{{player.ep.points.gte(tmp.hb.nextAtDisp)?1:0}}) </span></button>
				<button class="menuButton" v-if="player.m.best.gte(185) && player.mp.activeChallenge!=21" v-bind:style="constructMenuButtonStyle('mp') " onclick="startChallenge('mp', 21)"><span class="buttonText">Enter Prestige Multiverse </span></button>
				<hr v-if="player.tab=='t'"><span v-if="player.tab=='t'">[ Special Transcend Points ]</span>
				<button class="menuButton" v-if="layerShown('t')==true && player.tab=='t'" v-bind:style="constructMenuButtonStyle('t') " style="color:black"><span class="buttonText">Dilated Special Points ({{format(player.t.specialPoints[11])}})</span></button>
				<button class="menuButton" v-if="layerShown('t')==true && player.tab=='t'" v-bind:style="constructMenuButtonStyle('t') " style="color:black"><span class="buttonText">Softcapped Special Points ({{format(player.t.specialPoints[12])}})</span></button>
				<button class="menuButton" v-if="layerShown('t')==true && player.tab=='t'" v-bind:style="constructMenuButtonStyle('t') " style="color:black"><span class="buttonText">Prestige-Dilated Special Points ({{format(player.t.specialPoints[21])}})</span></button>
				<button class="menuButton" v-if="layerShown('t')==true && player.tab=='t'" v-bind:style="constructMenuButtonStyle('t') " style="color:black"><span class="buttonText">Hardcapped Special Points ({{format(player.t.specialPoints[22])}})</span></button>
				<button class="menuButton" v-if="layerShown('t')==true && player.tab=='t'" v-bind:style="constructMenuButtonStyle('t') " style="color:black"><span class="buttonText">Super-Dilated SP ({{format(player.t.specialPoints[31])}}) </span></button>
				<button class="menuButton" v-if="layerShown('t')==true && player.tab=='t'" v-bind:style="constructMenuButtonStyle('t') " style="color:black"><span class="buttonText">Prestige-Hardcapped SP ({{format(player.t.specialPoints[32])}}) </span></button>
				<br v-if="layerShown('t')==true"><hr v-if="layerShown('t')==true">		
				<span v-if="layerShown('pm')==true">[ Persitge Mtliervse ]</span><br>
				<span v-if="player.mp.activeChallenge==21">[ Iman ]</span>
				<button class="menuButton" v-if="layerShown('mp')==true && player.mp.activeChallenge==21" v-bind:style="constructMenuButtonStyle('mp') " onclick="showTab('mp')"><span class="buttonText">Multiverse Prestige (+{{player.ep.points.gte(tmp.hb.nextAtDisp)?1:0}}) </span></button>
				<button class="menuButton" v-if="player.m.best.gte(185) && player.mp.activeChallenge==21" v-bind:style="constructMenuButtonStyle('mp') " onclick="startChallenge('mp', 21)"><span class="buttonText">Leave Prestige Multiverse </span></button>
				<hr v-if="layerShown('pm')==true">
				<span v-if="layerShown('pm')==true">[ Row ./ ]</span>
				<button class="menuButton" v-if="layerShown('pm')==true" v-bind:style="constructMenuButtonStyle('pm') " onclick="showTab('pm')"><span class="buttonText">Prestige Milestone (+{{player.points.gte(tmp.pm.nextAtDisp)?1:0}}) </span></button>
				<br v-if="layerShown('pm')==true"><hr v-if="layerShown('pm')==true">	
				<span v-if="layerShown('pep')==true || layerShown('cp')==true">[ Row 1 ]</span>
				<button class="menuButton" v-if="layerShown('pep')==true" v-bind:style="constructMenuButtonStyle('pep') " onclick="showTab('pep')"><span class="buttonText">Prestiged-Exotic Prestige (+{{player.pm.essence.gte(tmp.pep.nextAtDisp)?1:0}}) </span></button>
				<button class="menuButton" v-if="layerShown('cp')==true" style="margin-top:4px; color: lime; border: 2px solid lime; background: black" onclick="showTab('cp')"><span class="buttonText">Corrupted Prestige (+{{player.points.gte(tmp.cp.nextAt)?tmp.cp.resetGain:0}}) </button>
				<button class="menuButton" v-if="(player.tab=='cp' || player.tab=='cm') && layerShown('cm')==true" style="border: 2px solid lime; color:lime;" v-bind:style="constructMenuButtonStyle('cm')" onclick="showTab('cm')"><span class="buttonText">Corrupted Milestone (+{{player.cp.totalCorrupt>=tmp.hb.nextAt?1:0}}) </button>
				<br v-if="layerShown('pep')==true || layerShown('cp')==true"><hr v-if="layerShown('pep')==true || layerShown('cp')==true"></div>		
		<canvas id="treeCanvas" class="canvas" v-if="!(tmp.gameEnded && !player.keepGoing)"></canvas>
<div id="version" v-if="options.forceOneTab==true" class="overlayThing">
						{{VERSION.num}}</div>		
		<div v-if="false" id="loadingSection" class="fullWidth">
			<h1>Loading... (If this takes too long it means there was a serious error!)←</h1>
		</div>
		<div class="vl" v-if="player.navTab !== 'none' && tmp.other.splitScreen && player.tab!='none' && !(tmp.gameEnded && !player.keepGoing)"></div>
		<div v-if="(tmp.gameEnded && !player.keepGoing)" class="fullWidth">
			<br>
			<h3 v-html="modInfo.winText"></h3><br>
			<h3>Please check the Discord to see if there are new content updates!</h3><br><br>
			<div v-if="!player.timePlayedReset">It took you {{formatTime(player.timePlayed)}} to beat the game.</div>
			<br>
			<button class="longUpg can" onclick="hardReset(true)">Play Again</button>&nbsp;&nbsp;&nbsp;&nbsp;<button
				class="longUpg can" onclick="keepGoing()">Keep Going</button>
			<br><br><br>
			<span v-if="modInfo.discordLink"><a class="link" v-bind:href="modInfo.discordLink"
					target="_blank">{{modInfo.discordName}}</a><br></span>
			<a class="link" href="https://discord.gg/F3xveHV" target="_blank"
				v-bind:style="modInfo.discordLink ? {'font-size': '16px'} : {}">The Modding Tree Discord</a><br>
			<a class="link" href="http://discord.gg/wwQfgPa" target="_blank" v-bind:style="{'font-size': '16px'}">Main
				Prestige Tree server</a><br>
			<br><br>
		</div>

		<div id="treeOverlay" v-if="!(tmp.gameEnded && !player.keepGoing) && (player.tab === 'none' || tmp.other.splitScreen || !readData(layoutInfo.showTree))" class="treeOverlay" onscroll="resizeCanvas()"
			v-bind:class="{ 
			fullWidth: (player.tab == 'none' || player.navTab == 'none'), 
			col: (player.tab !== 'none' && player.navTab !== 'none'), 
			left: (player.tab !== 'none' && player.navTab !== 'none')}"
			 :style="{'margin-top': !readData(layoutInfo.showTree) && player.tab == 'info-tab' ? '50px' : ''}">
			<div id="version" onclick="showTab('changelog-tab')" class="overlayThing" style="margin-right: 13px" >
				{{VERSION.num}}</div>
			<button
			v-if="((player.navTab == 'none' && (tmp[player.tab].row == 'side' || tmp[player.tab].row == 'otherside' || player[player.tab].prevTab)) || player[player.navTab]?.prevTab)"				class="other-back overlayThing" onclick="goBack(player.navTab == 'none' ? player.tab : player.navTab)">←</button>
			<img id="optionWheel" class="overlayThing" v-if="player.tab!='options-tab'" src="options_wheel.png"
				onclick="showTab('options-tab')"></img>
			<div id="info" v-if="player.tab!='info-tab'" class="overlayThing" onclick="showTab('info-tab')"><br>i</div>
			<div id="discord" class="overlayThing">
				<img onclick="window.open((modInfo.discordLink ? modInfo.discordLink : 'https://discord.gg/F3xveHV'),'mywindow')"
					src="discord.png" target="_blank"></img>
				<ul id="discord-links">
					<li v-if="modInfo.discordLink"><a class="link" v-bind:href="modInfo.discordLink"
							target="_blank">{{modInfo.discordName}}</a><br></li>
					<li><a class="link" href="https://discord.gg/F3xveHV" target="_blank"
							v-bind:style="modInfo.discordLink ? {'font-size': '16px'} : {}">The Modding Tree
							Discord</a><br></li>
					<li><a class="link" href="http://discord.gg/wwQfgPa" target="_blank"
							v-bind:style="{'font-size': '16px'}">Main Prestige Tree server</a></li>
				</ul>
			</div>
			<overlay-head v-if="!(tmp.gameEnded && !player.keepGoing) && options.forceOneTab==false"></overlay-head>
			<div class="sideLayers">
				<div v-for="(node, index) in OTHER_LAYERS['side']">
					<tree-node :layer='node' :abb='tmp[node].symbol' :size="'small'" :key="'side' + index"></tree-node>
				</div>
			</div>
		</div>
		
		<div v-if="!(tmp.gameEnded && !player.keepGoing) && (player.tab === 'none' || tmp.other.splitScreen)" id="treeTab"  onscroll="resizeCanvas()" 
			v-bind:class="{ fullWidth: (player.tab == 'none' || player.navTab == 'none'), col: (player.tab !== 'none' && player.navTab !== 'none'), left: (player.tab !== 'none' && player.navTab !== 'none')}">
			<br><br><br><br>
			<overlay-head id="fakeHead" style="visibility: hidden;">
			</overlay-head>
			<layer-tab :layer="player.navTab == 'none' ? player.tab : player.navTab" :key="'left'"></layer-tab>
			<bg :layer="player.navTab == 'none' ? player.tab : player.navTab" ></bg>
		</div>

		<!-- Popups -->
		<div v-if="modal.showModal" class="modal">
			<div>
				<modal-text v-if="modal.title"><modal-text style="font-size:24px" v-html="modal.title"></modal-text><br/></modal-text>
				<modal-text v-html="modal.desc"></modal-text><br/>
				<button v-if="modal.cancel"class='hide' onclick="modal.hide()" v-html="modal.cancel"></button>
			</div>
		</div>
		<div class="popup-container">
			<transition-group name="fade">
				<div v-for="popup,index in activePopups" class="popup" v-bind:class="popup.type"
					v-bind:key="'p' + popup.id" v-on:click="() => {activePopups.splice(index, 1)}" v-bind:style="popup.color && popup.bColor ? {'background-color': popup.color,'border-color': popup.bColor} : {'background-color': popup.color}">
					<h3>{{popup.title}}</h3><br>
					<h2 v-html="popup.message"></h2>
				</div>
			</transition-group>
		</div>
		<div class="particle-container">
				<div v-for="particle,index in particles">
					<particle :data="particle" :index="index" v-bind:key="'b' + particle.id"></particle>
				</div>
		</div>

		<div v-if="player.navTab !== 'none' && player.tab !== 'none' && !(tmp.gameEnded && !player.keepGoing)" onscroll="resizeCanvas()" v-bind:class="{ fullWidth: player.navTab == 'none' || !tmp.other.splitScreen || !readData(layoutInfo.showTree), col: player.navTab != 'none', right: player.navTab != 'none', fast: true, tab: true}">
			<div v-for="layer in LAYERS">
				<div v-if="player.tab==layer">
					<layer-tab :layer="layer" :back="'none'" :spacing="'50px'" :key="'left'"></layer-tab>
				</div>
			</div>
			<bg :layer="player.tab" ></bg>

		</div>
		<div class = "bg2" v-bind:style = "tmp.backgroundStyle"></div>

	</div>
</body>